{% extends 'base.html' %}
{% block content %}
<main class="page cv-page">
        <section class="portfolio-block block-intro border-bottom">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/pp.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>John Smith</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">LısansLAR</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Python&nbsp;</h3>
                                <h4 class="organization">BTK Akademi</h4>
                            </div>
                            <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                        </div>
                        <p class="fw-bold text-muted">Sertifika No : zXzt8Xe1Y<a href="#">Link</a><br></p>
                        <p class="fw-bold text-muted">Django - Firebase&nbsp;</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>AutoCAD</h3>
                                <h4 class="organization">Buski</h4>
                            </div>
                            <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                        </div>
                        <p class="fw-bold text-info">Matariyel sertifika</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <h3>İnternette Güvenlik&nbsp;<br></h3>
                                <h4 class="organization">BTK Akademi<br></h4>
                            </div>
                            <div class="col-md-6"><span class="period">05/2015 - 12/2017</span></div>
                        </div>
                        <p class="text-muted">Sertifika No : enEBQBpd</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Temel Ağ Teknolojileri&nbsp;<br></h3>
                                <h4 class="organization">BTK Akademi<br></h4>
                            </div>
                            <div class="col-md-6"><span class="period">12/2017 - Present</span></div>
                        </div>
                        <p class="text-muted">Sertifika No : 15af2c4d-e43f40fc-aee8-a6bc9230866d<br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Bilgi Teknolojilerine Giriş&nbsp;<br></h3>
                                <h4 class="organization">BTK Akademi<br></h4>
                            </div>
                            <div class="col-md-6"><span class="period">12/2017 - Present</span></div>
                        </div>
                        <p class="text-muted">Sertifika No :&nbsp;7rptzlVJw<br></p>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">eğitim</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Üniversite</h3>
                                <h4 class="organization">Uludağ üniversitesi</h4>
                            </div>
                            <div class="col-6"><span class="period">09/2005 - 05/2010</span></div>
                        </div>
                        <p class="fw-bold text-primary">Devam Ediyor</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Lise</h3>
                                <h4 class="organization">Açık Lise</h4>
                            </div>
                            <div class="col-md-6"><span class="period">09/2010 - 06/2015</span></div>
                        </div>
                        <p class="text-muted">67</p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Yetenekler</h2>
                                <h3>WEB</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"><span class="visually-hidden">65%</span></div>
                                </div>
                                <h3>Python</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="visually-hidden">75%</span></div>
                                </div>
                                <h3>JavaScript</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;"><span class="visually-hidden">15%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>İletişim Bilgileri</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>
                                    <div class="col-9"><span>22/10/2000 (d,m,y)</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>Faruk ŞEKER</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span>pass</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hobbies group">
                    <div class="heading">
                        <h2 class="text-center">Hobiler</h2>
                    </div>
                    <p class="text-center text-muted">Photoshop be</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}