<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ıp</th>
            <th scope="col">date</th>
        </tr>
    </thead>
    <tbody>
        {% for view in page.get_view_ip_list.new_to_old %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if view.ip_query_id %}
                    <td><a target="_blank" href="{{ ip_query_service_url }}/id/{{ view.ip_query_id }}" class="link-dark">{{ view.ip_address }} {% if view.is_i_am %}<span style="color: deeppink">( ME )</span>{% endif %} </a></td>
                {% else %}
                    <td>{{ view.ip_address }} {% if view.is_i_am %}<span style="color: deeppink">( ME )</span>{% endif %}</td>
                {% endif %}
                <td>{{ view.visit_time }}</td>
            </tr>
        {% empty %}
            <div>EMPTY</div>
        {% endfor %}
    </tbody>
</table>