<div class="overflow-auto" style="max-height: 40vh">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ıp</th>
            <th scope="col">date</th>
        </tr>
    </thead>
    <tbody>
        {% for view in page.view.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ view.ip_address }}</td>
                <td>{{ view.visit_time }}</td>
            </tr>
        {% empty %}
            <div>EMPTY</div>
        {% endfor %}
    </tbody>
</table>
</div>
